.shop-customers-count {
  color: #aaa;
  font-weight: 300;
  font-size: 32px;

  mat-icon {
    margin-bottom: -4px;
  }
}

.occupied-table-card {
  padding: 16px 8px 4px;
  border-radius: 8px;
  border: 1px solid #fafafa;
}
