<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="32px">
    <button mat-stroked-button color="primary" (click)="onAssign()" fxFlex>
      ASSIGN TABLE
    </button>
    <div
      class="shop-customers-count"
      fxLayout="row"
      fxLayoutAlign="end end"
      fxLayoutGap="16px"
    >
      <mat-icon>people</mat-icon>
      <span
        >{{ (occupiedTables$ | async)?.length || 0 }} /
        {{ NO_OF_TABLES_SERVING }}</span
      >
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px">
    <div
      *ngFor="let table of occupiedTables$ | async"
      class="occupied-table-card"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="16px 16px"
    >
      <span style="align-self: center">{{ table }}</span>
      <button mat-button (click)="onVacate(table)" color="warn">VACATE</button>
    </div>
  </div>
</div>
