$uploan-primary: #1884e8;

.function-output {
  font-size: 32px;
  font-weight: 300;
  color: $uploan-primary;
  line-height: 1;
}

.main-container {
  width: 520px;
  padding: 16px;
  border-radius: 4px 4px 8px 8px;
  border-top: 8px solid $uploan-primary;
}

.output-div {
  background: #fafafa;
  padding: 24px;
  overflow-wrap: anywhere;
  height: 160px;
  overflow: auto;
}

.developer {
  align-self: flex-end;
  font-size: 12px;
  font-style: italic;
  color: #aaa;
}
